@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Mochiy+Pop+P+One&family=Montserrat:wght@300&family=Nova+Square&family=Nunito:wght@200&family=Poppins:wght@300&display=swap');
body {
    margin: 0;
    padding: 0;
    font-family: 'Nunito';
    font-size: 20px;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    display: flex;
    background-color: rgba(96, 204, 195, 0.664);
}

.quiz-box {
    background-color: white;
    border-radius: 10px;
    width: 700px;
    overflow: hidden;
}

#submit {
    justify-content: center;
    align-items: center;
    display: flex;
    width: 100%;
    cursor: pointer;
    padding: 1%;
    border: none;
}

button {
    background-color: rgb(122, 122, 122)
}

h1 {
    justify-content: center;
    text-align: center;
}

li {
    list-style: none;
    padding: 2%;
}