@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,300&display=swap");
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: rgba(96, 204, 195, 0.664);
}

.navbar-brand img {
    width: 18px;
    height: 18px;
}

.navbar-brand span {
    font-weight: 700;
    font-size: 22px;
    margin-left: 10px;
}

button {
    padding: 0;
}

button span img {
    width: 45px;
}

#navbarNav .navbar-nav .nav-item .nav-link {
    color: rgb(0, 0, 0);
    padding: 6px 14px;
    font-weight: 500;
    white-space: nowrap;
    transition: 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

#navbarNav .navbar-nav .nav-item .nav-link:hover {
    color: lightcoral;
}

.custom-section {
    width: inherit;
    padding: 40px 0;
}

.custom-section .col-lg-4 {
    margin-top: 100px;
}